<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle if pageTitle else 'Портфолио' }}</title>
    <meta name="description" content="{{ pageDesc if pageDesc else 'Мой сайт-портфолио' }}">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    {% include 'header.html' %}

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}
  </body>
</html>
