{% extends 'layout.html' %}

{% set pageTitle = 'Ну и погода!' %}

{% block content %}
  <hgroup>
    <p>Часть 1.</p>
    <h1>Ну и погода!</h1>
  </hgroup>

  <p>Погода играет важную роль в нашей повседневной жизни, влияя на выбор одежды, планы на поездки и даже наше настроение. Она представляет собой динамическую систему, которая постоянно меняется под воздействием различных атмосферных условий, таких как давление, влажность и температура. Эти изменения могут происходить как постепенно, так и внезапно, создавая разнообразие погодных явлений, которые мы наблюдаем каждый день.</p>

  <p><a href="https://intuition.team">Температура</a> — один из самых заметных аспектов погоды, который определяет, насколько комфортно мы чувствуем себя на улице. Она может варьироваться от морозного холода зимой, когда земля покрывается снегом, до палящей жары летом, когда солнце обжигает кожу. Эти изменения зависят от сезона, географического положения и даже времени суток, что делает температуру важным фактором в нашей жизни.</p>

  <figure>
    <img src="/assets/Photo by Jan van der Wolf_pexels-jan-van-der-wolf-11680885-11978833.jpg" alt="Погода">
    <figcaption>Photo by Jan van der Wolf_pexels-jan-van-der-wolf</figcaption>
  </figure>

  <p>Осадки, снег или град, являются еще одним ключевым компонентом погоды, который оказывает значительное влияние на окружающую среду. Они играют важную роль в сельском хозяйстве, обеспечивая растения необходимой влагой, а также в водоснабжении, пополняя реки и озера. Однако чрезмерные осадки могут вызывать наводнения, создавая угрозу для людей и инфраструктуры.</p>

  <p>Ветровые потоки также формируют погоду, принося прохладный бриз в жаркий день или сильные порывы, которые могут повлиять на активный отдых, авиацию и производство энергии. Ветер переносит облака, изменяет температуру и даже влияет на распространение пыльцы и семян, способствуя росту растений. Его сила и направление зависят от множества факторов, включая рельеф местности и атмосферное давление.</p>
{% endblock %}
